# Importing Pandas and It's Version

In [4]:
import pandas as pd
pd.__version__

'1.0.1'

In [11]:
se= pd.Series([1,2,3,4])
nparray = [1,2,3]

In [13]:
se [3]

4

# Creating Series from numpy Array

In [68]:
import numpy as np

In [69]:
nparray = np.array ([1,2,3,4,5])
pd.Series(nparray)

0    1
1    2
2    3
3    4
4    5
dtype: int32

# Converting Index of aSeries to the Columns of Dataframe

In [92]:
a= pd.Series ([[23, 45, 56, 65, 45], ['Raj, ,Sekar', 'Balu', 'Vinoth', 'Pravinth'], ['Chennai', 'kovai','Pune', 'Mumbai', 'chennai']], index= ['ID', 'Name', 'Location'])

In [93]:
pd.DataFrame (a)

                                                0
ID                           [23, 45, 56, 65, 45]
Name        [Raj, ,Sekar, Balu, Vinoth, Pravinth]
Location  [Chennai, kovai, Pune, Mumbai, chennai]

In [95]:
# arr =a.index.values
# print (arr)

In [78]:
#print (a)
#a.colunms= [a.index]

#print ("after\n", a)

In [79]:
print(a.reset_index())

      index                                        0
0        ID                     [23, 45, 56, 65, 45]
1      Name    [Raj, ,Sekar, Balu, Vinoth, Pravinth]
2  Location  [Chennai, kovai, Pune, Mumbai, chennai]

In [97]:
# b= pd.DataFrame(a)
# print (a)

In [98]:
# b.coulumns = arr

In [99]:
# pd.DataFrame(a, columns = [a.index])

In [100]:

# df1 = pd.Series(['c','c++','phyton' ,'r'])
# df1 = df1.to_frame().reset_index()
# df1

# Listing all the datasets available in seaborn library.

In [101]:
import seaborn as sb
print (sb.get_dataset_names())

C:\Users\ELCOT\anaconda3\lib\site-packages\seaborn\utils.py:384: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file C:\Users\ELCOT\anaconda3\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

# Loading the ‘mpg’ dataset

In [103]:
mpgcars = sb.load_dataset('mpg')

In [105]:
mpgcars.head

<bound method NDFrame.head of       mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year  origin                       name
0            70     usa  chevrolet chevelle malibu
1            70     usa          buick skylark 320
2            70     usa         plymouth satellite
3            70     usa              amc rebel sst
4            70     usa                ford torino
..          ...     ...                        ...
393          82     usa            ford mustang gl
394          82  europe                  vw pickup
395          82     usa              dodge rampage
396          82     usa                ford ranger
397          82     usa                 chevy s-10

[398 rows x 9 columns]>

# Origins of cars are a part of this dataset

In [109]:
mpgcars['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

# Extract the part of the dataframe which contains cars belonging to ‘usa’

In [112]:
uscars = mpgcars.loc[mpgcars['origin'] == 'usa']

In [113]:
print (uscars)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
392  27.0          4         151.0        90.0    2950          17.3
393  27.0          4         140.0        86.0    2790          15.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year origin                       name
0            70    usa  chevrolet chevelle malibu
1            70    usa          buick skylark 320
2            70    usa         plymouth satellite
3            70    usa              amc rebel sst
4            70    usa                ford torino
..          ...    ...                        ...
392          82    usa           chevrolet camaro
393          82    usa            ford mustang gl
395          82    usa              dodge rampage
396          82    usa                ford ranger
397          82    usa                 chevy s-10

[249 rows x 9 columns]