# Loops

>for

>while

In [6]:
l = [10,20,30,40,50]
print(l)
print(40 in l) # in is called as MEMBERSHIP OPERATOR
print(220 in l)
print(40 not in l)

[10, 20, 30, 40, 50]
True
False
False

#for loop SYNTAX:

for var in iterable:
    do this
    do this

In [2]:
l = [10,20,30,40,50]

for i in l:
    print(i)

10
20
30
40
50

In [7]:
l = (10,20,30,40,50)

for i in l:
    print(i)

10
20
30
40
50

In [9]:
l = [10,20,30,40,50]

for darshan in l:
    print(darshan)

10
20
30
40
50

In [10]:
for darshan in [10,20,30,40,50]:
    print(darshan)

10
20
30
40
50

In [11]:
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    print(i)

10
20
30
40
50
60
70
80
90
100

In [12]:
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    print(i,end="\n") # \n - New Line

10
20
30
40
50
60
70
80
90
100

In [13]:
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    print(i,end="\t") # \t - Tab Line

10	20	30	40	50	60	70	80	90	100

In [14]:
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    print(i,end=" ")

10 20 30 40 50 60 70 80 90 100

In [15]:
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    print(i,end="++++")

10++++20++++30++++40++++50++++60++++70++++80++++90++++100++++

## range()

In [16]:
range(5)
# It will generate numbers from 0 to (5-1)

range(0, 5)

In [17]:
# range() only works with for loop

for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [18]:
for i in range(50):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [19]:
for i in range(50):
    if i%2==0:
        print(i,"is EVEN")
    else:
        print(i,"is ODD")

0 is EVEN
1 is ODD
2 is EVEN
3 is ODD
4 is EVEN
5 is ODD
6 is EVEN
7 is ODD
8 is EVEN
9 is ODD
10 is EVEN
11 is ODD
12 is EVEN
13 is ODD
14 is EVEN
15 is ODD
16 is EVEN
17 is ODD
18 is EVEN
19 is ODD
20 is EVEN
21 is ODD
22 is EVEN
23 is ODD
24 is EVEN
25 is ODD
26 is EVEN
27 is ODD
28 is EVEN
29 is ODD
30 is EVEN
31 is ODD
32 is EVEN
33 is ODD
34 is EVEN
35 is ODD
36 is EVEN
37 is ODD
38 is EVEN
39 is ODD
40 is EVEN
41 is ODD
42 is EVEN
43 is ODD
44 is EVEN
45 is ODD
46 is EVEN
47 is ODD
48 is EVEN
49 is ODD

In [20]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [21]:
for i in range(0,5):
    print(i,end=" ")

0 1 2 3 4

In [22]:
for i in range(1,5):
    print(i,end=" ")

1 2 3 4

In [23]:
for i in range(10,23):
    print(i,end=" ")

10 11 12 13 14 15 16 17 18 19 20 21 22

In [24]:
for i in range(1,10):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [25]:
for i in range(1,10,1):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [26]:
for i in range(1,10,2):
    print(i,end=" ")

1 3 5 7 9

In [27]:
for i in range(1,10,3):
    print(i,end=" ")

1 4 7

# while loop SYNTAX:

initialization
while condition:
    do this
    do this
    increment / decrement

In [28]:
# Program to print Natural nos from 1 to 5

i = 1
while i<=5:
    print(i,end=" ")
    i = i+1

1 2 3 4 5

# Functions

Two Types:

>Built-in

>User-Defined

In [32]:
# Built-in
print("Hello Darshan")
print(type(99))
print(pow(2,3))

Hello Darshan
<class 'int'>
8

In [42]:
import math
math.sin(90)

0.8939966636005579

In [43]:
import math as m

In [46]:
print(m.sin(45))
print(m.cos(45))
print(m.log(45))
print(m.tan(45))
print(m.exp(45))
print(m.factorial(5))
print(m.pow(3,5))

0.8509035245341184
0.5253219888177297
3.8066624897703196
1.6197751905438615
3.4934271057485095e+19
120
243.0

In [45]:
help(m)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.8/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /Users/ingledarshan/opt/anaconda3/lib/python3.8/lib-dynload/math.cpython-38-darwin.so

In [47]:
# User Defined Functions

def greet():
    print("Hello sir")
    print("Thank you for appointing me.")

In [48]:
greet()

Hello sir
Thank you for appointing me.

In [49]:
greet()

Hello sir
Thank you for appointing me.

In [51]:
for i in range(5):
    greet()

Hello sir
Thank you for appointing me.
Hello sir
Thank you for appointing me.
Hello sir
Thank you for appointing me.
Hello sir
Thank you for appointing me.
Hello sir
Thank you for appointing me.

In [52]:
greet()

Hello sir
Thank you for appointing me.

In [56]:
# Parameter passing

def mno(a):
    print("I received",a)
    
mno("Darshan")
mno(100)
mno(19.76587)

I received Darshan
I received 100
I received 19.76587

In [61]:
# Addition of 2nos using Functions

def addn(a,b):
    c = a+b
    print(c)

addn(1,5)
addn(5,-9)
addn(3.443,65.645456)
addn("Darshan"," SkillEnable")

6
-4
69.088456
Darshan SkillEnable

In [62]:
# Return values using functions

def addn(a,b):
    c = a+b
    return c

In [63]:
res = addn(12,8)
print(res)

20

# List Functions

In [74]:
l = [10,20,30,40,50]
print(l)
l.append("Darshan")
print(l)
l.remove(20)
print(l)
l.extend([11,22,33,44,55])
print(l)
l.remove("Darshan")
print(l)
l.sort()
print(l)
l = [10, 30, 40, 50, 11, 22, 33, 44, 55]
print(l)
l.sort(reverse=True)
print(l)
l = [10, 30, 40, 50, 11, 22, 33, 44, 55]
print(l)
l.reverse()
print(l)
print(l.index(33))

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 'Darshan']
[10, 30, 40, 50, 'Darshan']
[10, 30, 40, 50, 'Darshan', 11, 22, 33, 44, 55]
[10, 30, 40, 50, 11, 22, 33, 44, 55]
[10, 11, 22, 30, 33, 40, 44, 50, 55]
[10, 30, 40, 50, 11, 22, 33, 44, 55]
[55, 50, 44, 40, 33, 30, 22, 11, 10]
[10, 30, 40, 50, 11, 22, 33, 44, 55]
[55, 44, 33, 22, 11, 50, 40, 30, 10]
2

https://docs.python.org/3/tutorial/datastructures.html

https://www.w3schools.com/python/python_ref_list.asp

In [75]:
print(l)

[55, 44, 33, 22, 11, 50, 40, 30, 10]

In [81]:
# All the functions in this cell are generic functions i.e. they
# are not list/tuple functions
print(sum(l))
print(len(l))
print(sum(l)/len(l))
print(max(l))
print(min(l))

295
9
32.77777777777778
55
10

In [83]:
l = (55, 44, 33, 22, 11, 50, 40, 30, 10)
# All the functions in this cell are generic functions i.e. they
# are not list/tuple functions
print(sum(l))
print(len(l))
print(sum(l)/len(l))
print(max(l))
print(min(l))

295
9
32.77777777777778
55
10

# Sets

A Set is a collection which is unordered and unindexed.

It is saved using {   } braces.

In [84]:
s = {"apple","banana","mango","cherries","pineapple"}
print(s)

{'pineapple', 'mango', 'apple', 'banana', 'cherries'}

In [85]:
print(s[0])

TypeError: 'set' object is not subscriptable

In [87]:
# Sets store only unique values
s = {"apple","banana","mango","cherries","pineapple",
     "apple","banana","mango","apple","banana",
     "mango","apple","banana","mango"}
print(s)

{'pineapple', 'mango', 'apple', 'banana', 'cherries'}

In [90]:
x = {"google","microsoft","apple"}
y = {"apple","banana","cherry"}
z = x-y
print(z)

{'google', 'microsoft'}

In [91]:
x = {"google","microsoft","apple"}
y = {"apple","banana","cherry"}
z = y-x
print(z)

{'cherry', 'banana'}

# Dictionary

They are saved in __{key:value}__ form.

It is used to deal with unordered set of key-value pairs.

They key-value pairs is called as item.

The values in the dictionary are mutable.

The keys in the dictionary are immutable.

In [96]:
d = {100:"COMP", 23:"EXTC", 671:"CHEM"}
print(d)
print(type(d))
print(d[100])
print(d[671])

{100: 'COMP', 23: 'EXTC', 671: 'CHEM'}
<class 'dict'>
COMP
CHEM

In [100]:
d = { 1:100, 1.211:98, "Darshan":54, 6-9j:"Rohan", 34:[1,2,3,4] }
print(d)
print(type(d))
print()
print(d['Darshan'])
print(d[34])

{1: 100, 1.211: 98, 'Darshan': 54, (6-9j): 'Rohan', 34: [1, 2, 3, 4]}
<class 'dict'>

54
[1, 2, 3, 4]

# Advanced Python

## map(), filter() and lambda()

## map()

It applies the given function to all iterables and returns a new list.

SYNTAX:

map( function , iterables )

In [101]:
def sqr(a):
    return a*a

x = sqr(5)
print(x)

25

In [106]:
def sqr(a):
    return a*a

x = map( sqr , [1,2,3,4] )
print(x)
print(list(x))
# print(tuple(x))
# print(set(x))

<map object at 0x7f8d8962ba00>
[1, 4, 9, 16]

In [107]:
def multiplyy(a,b):
    return a*b

x = map( multiplyy , [1,2,3,4] , [2,2,2,2] )
print(list(x))

[2, 4, 6, 8]

In [108]:
def anand(a,b):
    return a*b

x = map( anand , [1,2,3,4] , [2,2,2,2] )
print(list(x))

[2, 4, 6, 8]

In [110]:
def multiplyy(a,b):
    return a+b

x = map( multiplyy , [1,2,3,4] , [2,2,2,2] )
print(list(x))

[3, 4, 5, 6]

In [109]:
def anand(a,b):
    return a*b+100

x = map( anand , [1,2,3,4] , [2,2,2,2] )
print(list(x))

[102, 104, 106, 108]

In [112]:
def sqrtt(a,b):
    return a+b

y = map (sqrtt, [1,2,3,4], [2,3,4,6, 7])

print(list(y))

[3, 5, 7, 10]

# lambda Functions

They are the functions which do not have any name.

They are generally provided as input to other functions.

Lambda functions are single line functions.

They are One Time use.

SYNTAX:

__lambda arguments : expression__

In [114]:
def sqr(a):
    return a*a

print(sqr(3))

9

In [115]:
# with lambda
x = lambda a : a*a
print(x(3))

9

In [116]:
# with lambda
x = lambda a : a+100
print(x(3))

103

In [117]:
# Linear Eqn: 5x+3y

z = lambda x, y : 5*x + 3*y
print(z(1,2))

11

In [118]:
# Linear Eqn: 5x+3y

z = lambda x, y : (x+y)**2
print(z(1,2))

9

map( function , iterables )

lambda arguments : expression

Ideally, lambda is used along with map functions.

In [119]:
l = [1,2,3,4]
x = map( lambda a: a+3 , l )
print(list(x))

[4, 5, 6, 7]

In [120]:
x = map( lambda a: a+3 , [1,2,3,4] )
print(list(x))

[4, 5, 6, 7]

In [121]:
print(list(map( lambda a: a+3 , [1,2,3,4] )))

[4, 5, 6, 7]

In [122]:
print(list(map( lambda a: a*a , [1,2,3,4] )))

[1, 4, 9, 16]

map( function , iterables )

lambda arguments : expression

Ideally, lambda is used along with map functions.

In [124]:
list(map( lambda a,b : a*b , [1,2,3,4] , [2,2,2,2] ))

[2, 4, 6, 8]

## filter()

It is used to filter the given iterables with the help of another function passed as an argument to test all the elements to be True or false.

__SYNTAX:__

filter( FUNCTION , ITERABLES )

In [125]:
l = [1,2,3,4,5]
list(filter( lambda s : s>=3 , l ))

[3, 4, 5]

In [126]:
list(filter( lambda s : s>=3 , [1,2,3,4,5] ))

[3, 4, 5]

In [127]:
list(map( lambda s : s>=3 , [1,2,3,4,5] ))

[False, False, True, True, True]

In [129]:
# filter within map

list(map( lambda x : pow(x,2) , filter( lambda x : x>=3 , [1,2,3,4] ) ))

[9, 16]

In [134]:
m.sqrt(m.factorial(m.pow(2,3)))

200.79840636817812

In [1]:
list(map( lambda x : x+3 , [1,2,3,4] ))

[4, 5, 6, 7]

In [136]:
# map within filter

list(filter( lambda x : x>=6 , list(map( lambda x : x+3 , [1,2,3,4] )) ))

[6, 7]

# Happy Learning